<!-- markets -->
<section  id="book" class="bg-light-gray">
    <div class="container" style="text-align:center;">
      <h3>
        책소개
      </h3>
        <div class="team-member">
            <img src="img/mainCover.jpg" class="img-responsive bookcover" alt="">
            <h5>챗GPT</h5>
            <h6>GPT 노마드의 탄생</h6>
            <ul class="list-inline ">
                <li>
                    <a href="https://search.shopping.naver.com/book/catalog/38808261620" target="_blank" rel="noreferrer">
                        <img src="https://cdn.jsdelivr.net/gh/needleworm/needleworm.github.io/src/images/books/stores/naver.png" class="bookstore"/>
                    </a>
                </li>
                <li>
                    <a href="https://www.aladin.co.kr/shop/wproduct.aspx?ItemId=313625658" target="_blank" rel="noreferrer">
                        <img src="https://cdn.jsdelivr.net/gh/needleworm/needleworm.github.io/src/images/books/stores/aladdin.png" class="bookstore"/>
                    </a>
                </li>
                <li>
                    <a href="http://www.yes24.com/Product/Goods/118059497" target="_blank" rel="noreferrer">
                        <img src="https://cdn.jsdelivr.net/gh/needleworm/needleworm.github.io/src/images/books/stores/yes24.png" class="bookstore"/>
                    </a>
                </li>
                <li>
                    <a href="https://product.kyobobook.co.kr/detail/S000201335898" target="_blank" rel="noreferrer">
                        <img src="https://cdn.jsdelivr.net/gh/needleworm/needleworm.github.io/src/images/books/stores/kyobo.png" class="bookstore"/>
                    </a>
                </li>
            </ul>
        </div>
      </div>
    </div>
  </section>
