<!-- markets -->
<section  id="book" class="bg-light-gray">
    <div class="container" style="text-align:center;">
      <h3>
        책소개
      </h3>
        <div class="team-member">
            <img src="img/mainCover.jpg" class="img-responsive bookcover" alt="">
            <h5>챗GPT</h5>
            <h6>마침내 찾아온 특이점</h6>
            <ul class="list-inline ">
                <li>
                    <a href="https://search.shopping.naver.com/book/catalog/37646281618" target="_blank" rel="noreferrer">
                        <img src="img/stores/naver.png" class="bookstore"/>
                    </a>
                </li>
                <li>
                    <a href="https://www.aladin.co.kr/shop/wproduct.aspx?ISBN=K882831410" target="_blank" rel="noreferrer">
                        <img src="img/stores/aladdin.png" class="bookstore"/>
                    </a>
                </li>
                <li>
                    <a href="http://www.yes24.com/Product/Goods/117246674" target="_blank" rel="noreferrer">
                        <img src="img/stores/yes24.png" class="bookstore"/>
                    </a>
                </li>
                <li>
                    <a href="https://product.kyobobook.co.kr/detail/S000200861077" target="_blank" rel="noreferrer">
                        <img src="img/stores/kyobo.png" class="bookstore"/>
                    </a>
                </li>
            </ul>
        </div>
      </div>
    </div>
  </section>
