<!-- markets -->
<section  id="part1" >
  <div class="container" style="text-align:center;">
    <div class="chapter">
      <div class="chapterTitle">목차</div><br/>
      <div class="chapterSubtitle">챗GPT - 마침내 찾아온 특이점</div>
      <p class="chapters">
        <Strong>01.</Strong> AI는 이미 당신보다 똑똑하다<br/>
        <Strong>02.</Strong> 너무 똑똑한 AI의 출현, 위기인가 기회인가?<br/>
        <Strong>03.</Strong> ChatGPT로 내 일상을 조금 더 편하게<br/>
        <Strong>04.</Strong> ChatGPT를 활용한 창작활동<br/>
        <Strong>05.</Strong> ChatGPT로 공부하기<br/>
        <Strong>06.</Strong> 전문가 대신 ChatGPT에게 자문을<br/>
        <Strong>07.</Strong> 초대형 AI경쟁, 누가 가장 이득을 볼까?<br/>
        <Strong>08.</Strong> 내일의 일상은 어떤 모습일까?<br/>
        <Strong>부록 1.</Strong> ChatGPT를 사용하는 방법<br/>
        <Strong>부록 2.</Strong> <a href="https://bhban.tistory.com/232" target="_blank" rel="noreferrer">ChatGPT의 작동 원리<i class="fa-solid fa-arrow-up-right-from-square"></i></a><br/>
        <br/>
      </p>
    </div>
  </div>
</section>
