<!-- markets -->
<section  id="part1" >
  <div class="container" style="text-align:center;">
    <div class="chapter">
      <div class="chapterTitle">목차</div><br/>
      <div class="chapterSubtitle">챗GPT - GPT 노마드의 탄생</div>
      <p class="chapters">
        <Strong>Ch 1.</Strong> GPT의 시대
        <ul>
          <li>챗GPT로 돈을 벌 수 있을까?</li>
          <li>GPT란 무엇인가?</li>
          <li>챗GPT의 이론적 바탕이 된 어텐션</li>
        </ul><br/>

        <Strong>Ch 2.</Strong> 프롬프트 엔지니어링이 필요하다
        <ul>
          <li>‘아’ 다르고 ‘어’ 다른 GPT</li>
          <li>챗GPT가 개척한 새로운 직업, 프롬프트 엔지니어</li>
          <li>어텐션을 활용한 주입식 교육은 AI에도 효과가 있다</li>
          <li>이 책을 따라 하는 방법</li>
        </ul><br/>

        <Strong>Ch 3.</Strong> GPT로 다른 AI의 잠재력을 끌어내기
        <ul>
          <li>Midjourney, 미술대회에서 1위를 한 AI</li>
          <li>미드저니 디스코드 훑어보기</li>
          <li>프롬프트 작성</li>
          <li>그림 수정부터 컨펌까지</li>
          <li>챗GPT 프롬프트 엔지니어링</li>
          <li>미드저니 프롬프트 엔지니어링</li>
        </ul><br/>

        <Strong>Ch 4.</Strong> GPT 노마드 (1) - AI 블로거
        <ul>
          <li>GPT가 없던 시절의 블로그 수익 자동화</li>
          <li>어떤 키워드가 검색에 걸릴까?</li>
          <li>저작권 없는 사진 자료를 확보하자</li>
          <li>광고 플랫폼 선택</li>
          <li>수익형 블로그 세팅</li>
          <li>사업자등록이 필요하지 않습니다</li>
          <li>첫 글을 어떻게 써야 할까요? - 멍멍이 아저씨</li>
        </ul><br/>

        <Strong>Ch 5.</Strong>  GPT 노마드 (2) - AI 유튜버
        <ul>
          <li>양산형 유튜브 영상의 구조</li>
          <li>유튜브 수익 창출의 구조 이해하기</li>
          <li>Stock Video 확보하기</li>
          <li>BGM 확보하기</li>
          <li>채널의 방향 설정하기</li>
          <li>GPT로 정치 유튜브 내레이션 만들기</li>
          <li>에셋 조립하기</li>
          <li>미드저니와 파워포인트 프로그램으로 썸네일 만들기</li>
          <li>영상 업로드</li>
        </ul><br/>

        <Strong>Ch 6.</Strong> GPT 노마드 (3) - AI 작가
        <ul>
          <li>출판물 수익 구조에 대한 이해</li>
          <li>GPT를 활용한 책 기획</li>
          <li>미드저니와 PPT를 활용한 동화 원고 작성</li>
          <li>책 출간하기</li>
          <li>책 판매량과 수익 확인하기</li>
          <li>전자책 판매</li>
          <li>아마존 KDP를 통한 도서 해외 수출</li>
        </ul><br/>

        <Strong>Ch 7.</Strong> GPT와 엑셀이 만나 - 투자 시뮬레이터 제작
        <ul>
          <li>GPT와 실무 소프트웨어의 결합</li>
          <li>GPT와 엑셀의 만남, 효용성이 있을까?</li>
          <li>투자 전략 설계하기 - Modern Portfolio Theory</li>
          <li>챗GPT와 함께 엑셀 함수 선정</li>
          <li>주가 불러오기 - 챗GPT의 오류 바로잡기</li>
          <li>GPT가 추천해 준 포트폴리오의 투자 시뮬레이터 제작</li>
          <li>수익률 계산</li>
          <li>투자 결과 분석 시트 만들기</li>
          <li>주식 투자 시뮬레이터 활용</li>
          <li>챗GPT의 투자 전략이 73% 수익률을 달성한 비결</li>
        </ul><br/>

        <Strong>Ch 8.</Strong> 생산성 인플레이션
        <br/>

        <Strong>부록</Strong>  
        <ul>
          <li>챗GPT 부업 시 세금 처리 방법</li>
          <li>Chapter 3 미드저니의 프롬프트 엔지니어링</li>
          <li>Chapter 6 동화 줄거리 예제의 프롬프트 엔지니어링</li>
          <li>Chapter 7 투자 전략의 프롬프트 엔지니어링</li>
        </ul><br/>
      </p>
    </div>
  </div>
</section>
